/*COLORS*/

$body-color:  #F5F5F2;

$black-color:  #333333;
$black-hover-color: #444;

$white-color: #fff;

$light-grey-color: #e3e3e3;

$orange-color: #F58220;
$orange-hover-color: #ffa200;

$header-color: #9c9c9c;

$border: 1px solid #e3e3e3;

$brand-main-color: #979797;

/*FONT SIZES*/

$section-header: 20px;
$sidebar-font-size: 16px;

/*FONTS*/

$brand-font:'Roboto', sans-serif;
$paragraph-font:'Roboto', sans-serif;